.resume-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
max-width: 1160px;
margin: 0 auto;
 
 
}


h1,
h2,
h3 {
  color: #020202;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;

}
.resume-title {
  text-align: start;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.skills-list {
 align-items: start;
 justify-content: start;
 text-align: start;

}

header {
  text-align: start;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

header h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

header p {
  font-size: 1.5em;
  margin-bottom: 5px;
}


section h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
word-wrap: break-word;
  padding-bottom: 5px;
  
}

.summary {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 1.5em;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 20px;
}


section ul li {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 1.5em;
  word-wrap: break-word;
  white-space: wrap;
}

strong {
  font-weight: bold;
font-size: 30px;
}


footer {
  text-align: start;
  padding: 20px 0;
  color: #666;
}



.download-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: goldenrod;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 23px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  
  
  .download-button:hover {
    background-color: #f3c808;
    color: #0d0d0d;
  text-decoration: none;
  }
  
  .download-icon {
    margin-right: 5px;
  }
  
  
  .visually-hidden{
    opacity: 0;
    visibility: hidden;
    margin-left: 8px;
  
  }
  
  
  
  
  .download-button:hover .visually-hidden {
    opacity: 1;
    visibility: visible;
    margin-left: 8px;
    animation: leftToRight 0.3s ease-in-out, slideIn 0.3s ;
  }
  
  @keyframes leftToRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }


  .additional-info {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 1.5em;
  }

  @media screen and (max-width: 768px) {  
    .download-button {
      font-size: 23px;
    } 


    
  }