


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  

  .speech-button-card {
   width: 200px;
    background-color:  goldenrod;
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 18px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
    z-index: 10;
  }
  
  .speech-button-card:hover {
    box-shadow: 0 -16px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(10px);
  
  }
  

  .icon-voice, .icon-mic {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
  }
  
  
 
  .note-card {
    position: absolute;
    top: 130%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #f4c003; 
    border: 1px solid goldenrod;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.15);
    z-index: 10;
width: 400px;
  }
  
  .note-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .note-card li {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  

  .speech-button-card:hover .note-card {
    display: block;
  }
  

  .speech-button-card .note-card {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .speech-button-card:hover .note-card {
    opacity: 1;
    transform: translateX(-50%) translateY(30px);
  }
  
  
  .icon-star {
    color: #FFD700; 
    margin-right: 8px;
    font-size: 16px;
  }
  
  
  