/* HappyDogBotIcon.css */
.dog-head {
  transform-origin: center;
}

.dog-tail {
  transform-origin: left; 
  animation: wag 1s ease-in-out infinite;
}

@keyframes wag {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

.dog-eye {
  animation: blink 4s infinite ease-in-out;
}

@keyframes blink {
  0%, 90%, 100% {
    r: 1; 
  } 
  95% {
    r: 0; 
  }
}

.dog-bot-icon {
  transition: transform 0.2s;
}

.dog-bot-icon:hover {
  transform: scale(1.2);
}




/* CustomAlert.css */
.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}


.custom-alert-content {
  background-image: linear-gradient(15deg, #f0b400 19%, #967e45 14%, #0e404b 10%);
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;

}


.custom-alert-message {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 1.5;
  font-weight: bold;

}



.custom-alert-close {
  background: black; 
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; 
  border: 0;
  outline: 2px solid #f0f1f1;
  outline-offset: 3px;
cursor: pointer;
padding: .5em 1em;
transition: 500ms;
box-shadow: 0 0  0 1px gold,
0 0 0 2px,
0 0 0 2px;
}

.custom-alert-close:hover {
  background-color: goldenrod;
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
 outline-offset: -5px;
 outline-color: #0e404b;

}



/* not found page 404 */
.not-found {
  text-align: center;
  padding: 50px;
}

.not-found h1 {
  font-size: 5rem;
  color: red;
}

.not-found p {
  font-size: 1.5rem;
}

.not-found a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}


